* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* HEADER */
header {
    height: 90px;
    background-color: #4b1c31;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    width: 100vw;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-container p {
    color: #FF9FC5;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}

.header-nav ul {
    display: flex;
    align-items: center;
}

.item-menu,
#btn-login {
    list-style: none;
    margin-left: 20px;
}

.item-menu a,
#btn-login a{
    color: #FF9FC5;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

#btn-login,
#btn-login a{
    padding: 10px 20px;
    background-color: #D9D9D9;
    color: #4b1c31;
    border-radius: 10px;
}

/* BANNER */
.banner {
    width: 100%;
    margin: 5px;
    position: center;
}

/* ARTIGOS */
#produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 20px 70px 20px;
}

.linha1,
.linha2 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-around;
}

#imagem-marvel img {
    height: auto;
    border-radius: 40%;
    width: 250px;
    max-width: 350px;
}

#imagem-dc img {
    height: auto;
    border-radius: 200px;
    width: 400px;
}

.fundo-artigo {
    background-color: #e0aac5;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
}

.fundo-artigo h2 {
    color: #4b1c31;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
}

.fundo-artigo p {
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
}

/* FOOTER */
footer {
    width: 100%;
    height: 140px;
    background-color: #96305A;
    display: flex;
    justify-content: center;
}

.footer {
    height: 90%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
}

.contatos {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer small {
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

/* RESPONSIVIDADE */
@media (width <= 800px) {
    .linha1,
    .linha2 {
        flex-direction: column;
    }

    #imagem-marvel img,
    #imagem-dc img,
    .fundo-artigo {
        margin-bottom: 30px;
        width: 60vw;
    }
}