* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* HEADER */
header {
    height: 90px;
    background-color: #4b1c31;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-container h1 {
    color: #FF9FC5;
}

.header-nav ul {
    display: flex;
    align-items: center;
}

.item-menu,
#btn-login {
    list-style: none;
    margin-left: 20px;
}

.item-menu a,
#btn-login a{
    color: #FF9FC5;
    text-decoration: none;
}

#btn-login,
#btn-login a{
    padding: 10px 20px;
    background-color: #D9D9D9;
    color: #4b1c31;
    border-radius: 10px;
}

/* BANNER */
.banner {
    width: 100%;
    margin: 5px;
    position: center;
}

/* INFORMACOES */
#produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 20px 70px 20px;
}

.linha1,
.linha2 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#imagem-marvel img {
    width: 100%;
    height: auto;
    border-radius: 40%;
}

#imagem-dc img {
    width: 100%;
    height: auto;
    border-radius: 200px;
}

.fundo-artigo {
    background-color: #e0aac5;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.fundo-artigo h2 {
    color: #4b1c31;
    margin-bottom: 50px;
}